@{
    Layout = "Master";
}
           
@section Stylesheet {
    <style type="text/css">
        .align-bottom {
            vertical-align: bottom;
        }
        #top-right-column {
	        margin-top: 40px;
	    }
	        
		@@media (max-width: 767px) {
	        #top-right-column {
	        	margin-top: 0px;
	        }
        }
       	#triggers-wrapper,
       	#datastreams-wrapper {
       		margin-bottom: 10px;
       	}
       	
        .trigger,
        .datastream {
        	padding: 0 0 5px 0;
        	font-size: 20px;
        	border-bottom: 1px solid #ccc;
        	margin-bottom: 12px;
        }
        
        a.small {
        	font-size: 14px;
        }
    </style>
}
<div class="bh-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Feed: @Model.Feed.Name</h3>
                <div class="row-fluid">
                    <div class="col-md-2">Feed ID</div>
                    <div class="col-md-10">@Model.Feed.Id</div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-2">Created</div>
                    <div class="col-md-10">@Model.Feed.Created</div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-2">Updated</div>
                    <div class="col-md-10">@Model.Feed.Updated</div>
                </div>
            </div>
            <div class="col-md-6 align-bottom">
                 <div id="top-right-column" class="row-fluid">
                    <div class="col-md-3">Feed URL</div>
                    <div class="col-md-9"><a href="/feeds/@Model.Feed.Id">/feeds/@Model.Feed.Id</a></div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-3">Feed API</div>
                    <div class="col-md-9"><a href="/api/feeds/@Model.Feed.Id">/api/feeds/@Model.Feed.Id</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h4>Data Streams</h4>
                <div id="datastreams-wrapper">
                	<!-- Data Stream Row -->
                	<div id="datastream-template" class="datastream">
                		<div>
                			<a id="datastream-link-template" class="datastream-link" data-toggle="collapse" data-target="#datastream-edit-template" href="#">
		  						<div class="row">
		    						<p id="datastream-id-template" class="datastream-id col-md-3">Name</p>
		    						<p id="datastream-value-template" class="datastream-value col-md-3 text-right">Value</p>
		  						</div>
							</a> 
							<div id="datastream-edit-template" class="datastream-edit collapse">
								<form id="datastream-form-template" accept-charset="UTF-8" class="channel-edit-form" action="#">
									<div class="row">
										<div class="col-md-1">
											<small>Value</small>
										</div>
										<div class="col-md-3 text-right">
  											<input value="10" id="datastream-edit-value-template" name="value" type="text"/>
  										</div>
  										<div class="col-md-2 text-right">
    										<button id="datastream-save-template" type="submit" class="btn btn-primary btn-small" data-loading-text="Saving..."><i class="icon-ok icon-white"></i> Save</button>
    										<a id="datastream-cancel-template" class="btn btn-small">Cancel</a>
  										</div>
  									</div>
  									<div class="row">
	  									<div class="col-md-2 offset4 text-right"
	  										<a href="#" class="small" id="datastream-showedit-template"><i class="icon-pencil"></i> Edit </a>
                                              &nbsp;
	  										<a href="#" class="small" id="datastream-delete-template"><i class="icon-trash"></i> Delete</a>
	  									</div>
	  								</div>
								</form>
							</div>
						</div>
					</div>
                </div>
                <button class="btn btn-large btn-block btn-primary" type="button" onclick="showCreateDataStream();">+ Create Data Stream</button>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h4>Triggers</h4>
                <div id="triggers-wrapper">
                    <!-- Triggers Row -->
                    <div id="trigger-template" class="trigger">
                        <div>
                            <a id="trigger-link-template" class="trigger-link" data-toggle="collapse" data-target="#trigger-edit-template" href="#">
                                <div class="row">
                                    <p id="trigger-id-template" class="trigger-id col-md-3">Name</p>
                                </div>
                            </a> 
                            <div id="trigger-edit-template" class="trigger-edit collapse">
                                <div class="row">
                                    <div class="col-md-2 offset4 text-right">
                                        <a href="#" class="small" id="trigger-showedit-template"><i class="icon-pencil"></i> Edit </a>
                                        &nbsp;
                                        <a href="#" class="small" id="trigger-delete-template"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-large btn-block btn-primary" type="button" onclick="showCreateTrigger();">+ Create Trigger</button>
            </section>
        </div>
    </div>
</div>

	<!-- ------------------------------------------- -->
	<!-- Create Datastream Modal					 -->
	<!-- ------------------------------------------- -->
	<div class="modal fade"  id="create-datastream-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
        			<h3>Create Datastream</h3>
				</div>
				<div class="modal-body">
					<form id="create-datastream-form" class="form-horizontal" role="form" onsubmit="createDataStream();return false;">
						<div class="form-group">
							<label class="control-label col-lg-3" for="create-datastream-name">Name</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" id="create-datastream-name" placeholder="Name">
							</div>
						</div><!-- /.form-group -->
					</form>
				</div><!-- /.modal-body -->
   				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" onclick="$('#create-datastream-form').submit()">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- ------------------------------------------- -->
	<!-- Edit Datastream Modal					     -->
	<!-- ------------------------------------------- -->
	<div class="modal fade"  id="edit-datastream-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
        			<h3>Edit Datastream</h3>
				</div>
				<div class="modal-body">
					<form id="edit-datastream-form" class="form-horizontal" role="form" onsubmit="editDataStream();return false;">
						<div class="form-group">
							<label class="control-label col-lg-3" for="edit-datastream-name">Name</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" id="edit-datastream-name" placeholder="Name">
							</div>
						</div><!-- /.form-group -->
						<div class="form-group">
					
							<label class="control-label col-lg-3" for="edit-datastream-minvalue">Minimum Value</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" id="edit-datastream-minvalue">
							</div>
						</div><!-- /.form-group -->
						<div class="form-group">
					
							<label class="control-label col-lg-3" for="edit-datastream-maxvalue">Maximum Value</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" id="edit-datastream-maxvalue">
							</div>
						</div><!-- /.form-group -->
					</form>
				</div><!-- /.modal-body -->
   				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" onclick="$('#edit-datastream-form').submit()">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!-- ------------------------------------------- -->
	<!-- Create Trigger Modal					     -->
	<!-- ------------------------------------------- -->
	<div class="modal fade"  id="create-trigger-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
        			<h3>Create Trigger</h3>
				</div>
				<div class="modal-body">
					<form id="create-trigger-form" class="form-horizontal" role="form" onsubmit="createTrigger();return false;">
			  			<div class="form-group">
			         
			                <label class="control-label col-lg-3" for="action">Action</label>
			                <div class="col-lg-8">
			                    <select id="create-trigger-actions">
			                    </select>                
			                </div>
			            </div>
            			<div id="create-triggger-parameters"></div>
					</form>
				</div><!-- /.modal-body -->
   				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" onclick="$('#crate-trigger-form').submit()">Create</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


<div id="trigger-param-template" class="control-group input-append" style="display: none;">
    <label class="control-label">Parameter</label>
    <div class="controls">
        <input class="col-md-2" type="text">
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Constant
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
    </div>
</div>

@section Javascript {
    <script>
    	var datastreamTemplate = $('#datastream-template');
    	var _triggerActions = {};
    	var _dataStreams = null;
    	
		$(function () {
			updateDataStreamsTable();

		    $('#create-trigger-actions').change(function() {
		        updateTriggerActionParameters();
		    });
			
			setInterval(function () {
				updateDataStreamValues();
    		},1000);
        });


    
		function updateTriggerActionParameters() {
		    var actionId = $('#create-triger-actions').val();
		    var paramTemplate = $('#trigger-param-template');

		    if (actionId != null) {
		        var paramDiv = $('#create-trigger-parameters');
		        $.ajax({
		            type: 'GET',
		            url: '/api/actions/' + actionId + "/parameters",
		            data: { format: 'json' },
		            beforeSend: function() {
		                paramDiv.empty();
		            },
		            success: function(data) {

		                var datastreamList = $();

                        // Create the datastream list
		                for (var k = 0, datastreamLen = _dataStreams.length; k < datastreamLen; ++k) {
		                    var datastream = _dataStreams[k];
		                    datastreamList.append($('<li/>', { text: datastream.Id }));
		                }


		                // successful request; do something with the data
		                for (var i = 0, len = data.length; i < len; ++i) {
		                    var template = paramTemplate.clone();
		                    var parameter = data[i];

		                    template.find('.control-label').text(parameter.Name);
		                    template.find('.dropdown-menu').append(datastreamList);

		                    template.show();
		                    paramDiv.append(template);
		                }
		            },
		            async: false
		        });
		    }
		}

		function updateDataStreamsTable() {
    		var dsWrapper = $('#datastreams-wrapper');
    		
    	 	$.ajax({
                type: 'GET',
                url: '/api/feeds/@Model.FeedId/datastreams',
                data: { format: 'json' },
                beforeSend: function () {
                	dsWrapper.empty();
                },
                success: function (data) {
                    _dataStreams = data;
                    // successful request; do something with the data
                    for (var i = 0, len = data.length; i < len; ++i) {
                        dsWrapper.append( createDataStreamHtml(data[i]) );
                    }
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });
    	}
    	
    	function updateDataStreamValues() {
    	   $.ajax({
                type: 'GET',
                url: '/api/feeds/@Model.FeedId/datastreams',
                data: { format: 'json' },
                success: function (data) {
                    // successful request; do something with the data
                    for (var i = 0, len = data.length; i < len; ++i) {
                    	updateDataStreamValue( data[i].Id, data[i].Value);
                    }
                }
            });
    	}

    	function createDataStreamHtml(datastream) {
    		var data = datastreamTemplate.clone();
    		
    		data.attr('id', datastream.Id);
    		data.find('#datastream-link-template').attr('id', 'datastream-link-' + datastream.Id).attr('data-target', '#datastream-edit-' + datastream.Id);
    		data.find('#datastream-edit-template').attr('id', 'datastream-edit-' + datastream.Id);
    		data.find('#datastream-edit-value-template').attr('id', 'datastream-edit-value-' + datastream.Id).val( datastream.Value ? datastream.Value : '' );
    		data.find('#datastream-id-template').attr('id', 'datastream-id-' + datastream.Id).text(datastream.Id);
    		data.find('#datastream-value-template').attr('id', 'datastream-value-' + datastream.Id).text(datastream.Value ? datastream.Value : 'No Data Yet');
    		data.find('#datastream-cancel-template').attr('id', 'datastream-cancel-' + datastream.Id).on('click', function() {
    			$('#datastream-edit-'+datastream.Id).collapse('hide');
    			return false;
    		});
    	    data.find('#datastream-delete-template').attr('id', 'datastream-delete-' + datastream.Id).on('click', function() {
    	    	var confirm = window.confirm("Are you sure you want to delete data stream " + datastream.Name + "?");
    	    	if (confirm==true) {
    	    		deleteDataStream(datastream.Id);
  				}
    			return false;
    		});	
    	    data.find('#datastream-showedit-template').attr('id', 'datastream-showedit-' + datastream.Id).on('click', function () {
    	        showEditDataStream(datastream.Id);
    	        return false;
    	    });
    		data.find('#datastream-save-template').attr('id', 'datastream-save-' + datastream.Id);
    		data.find('#datastream-form-template').attr('id', 'datastream-form-' + datastream.Id).on('submit', function() {
    			setDataStreamValue(datastream.Id);
    			return false;
    		});
    		
    		return data;
    	}
    	
		function showCreateDataStream() {
            $('#create-datastream-name').val('');
            $('#create-datastream-modal').modal('show');
        }

		function showEditDataStream(datastreamId) {
		    $.ajax({
		        type: 'GET',
		        url: '/api/feeds/@Model.FeedId/datastreams/' + datastreamId,
                data: { format: 'json' },
                async: false,
                success: function (data) {
                    $('#edit-datastream-name').val(data.Id);
                    $('#edit-datastream-minvalue').val(data.MinValue);
                    $('#edit-datastream-maxvalue').val(data.MaxValue);
                    $('#edit-datastream-modal').modal('show');
                }
            });
		}

        function showCreateTrigger() {
            updateTriggerActions();
		    $('#create-trigger-modal').modal('show');
        }

        function updateTriggerActions() {
            $.ajax({
                type: 'GET',
                url: '/api/actions/node',
                data: { format: 'json' },
                beforeSend: function () {
                    $("#create-trigger-actions").empty();
                },
                success: function (data) {
                    _triggerActions = { };
                    // successful request; do something with the data
                    for (var i = 0, nodelen = data.length; i < nodelen; ++i) {
                        var webNode = data[i];

                        for (var a = 0, actionlen = webNode.Actions.length; a < actionlen; ++a) {
                            var action = webNode.Actions[a];

                            $('#create-trigger-actions').append(
                   				$('<option/>', {
                                    'value' : action.Id,
                   				    'actionid': action.Id,
                   				    'text': webNode.Node.Identifier + ' - ' + action.Name
                   				})
                   			);
                        }
                    }
                    updateTriggerActionParameters();
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });
        }
        
        function deleteDataStream(datastreamId) {
        	$('#datastream-save-' + datastreamId).button('loading');
       
        	
            var value = $('#datastream-edit-value-' + datastreamId).val();

            $.ajax({
                type: 'DELETE',
                url: '/api/feeds/@Model.FeedId/datastreams/' + datastreamId,
                data: {
                    value : value,
                    format: 'json'
                },
                beforeSend: function () {
                },
                success: function (data) {
					updateDataStreamsTable();
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });	
        }
        
        function editDataStream() {
            var datastreamId = $('#edit-datastream-name').val();
            var minvalue = $('#edit-datastream-minvalue').val();
            var maxvalue = $('#edit-datastream-maxvalue').val();

            $.ajax({
                type: 'PUT',
                url: '/api/feeds/@Model.FeedId/datastreams/' + datastreamId,
                data: {
                    minvalue : minvalue,
                    maxvalue : maxvalue,
                    format: 'json'
                },
                success: function (data) {
                    $('#edit-datastream-modal').modal('hide');
                    $('#datastream-edit-' + datastreamId).collapse('hide');
                }
            });
        }

        function setDataStreamValue(datastreamId) {
        	$('#datastream-save-' + datastreamId).button('loading');
        	
            var value = $('#datastream-edit-value-' + datastreamId).val();

            $.ajax({
                type: 'PUT',
                url: '/api/feeds/@Model.FeedId/datastreams/' + datastreamId,
                data: {
                    value : value,
                    format: 'json'
                },
                beforeSend: function () {
                },
                success: function (data) {

                    $('#datastream-edit-'+datastreamId).collapse('hide');
                    
  					updateDataStreamValue(datastreamId, data.Value);	
  					
		        	// Reset the save button
		        	$('#datastream-save-' + datastreamId).button('reset');
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });	
        }
        
        function updateDataStreamValue(datastreamId, value) {
        	if ($('#datastream-edit-value-' + datastreamId).is(":focus") == false) {
            	$('#datastream-edit-value-' + datastreamId).val(value);
            }
            $('#datastream-value-' + datastreamId).text(value);
        }

        function createDataStream() {
            var name = $('#create-datastream-name').val();

            $.ajax({
                type: 'POST',
                url: '/api/feeds/@Model.FeedId/datastreams',
                data: {
                    id : name,
                    format: 'json'
                },
                beforeSend: function () {
                },
                success: function (data) {
                    updateDataStreamsTable();

                    $('#create-datastream-modal').modal('hide');
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });
        } 
    </script>
}