              
@section Stylesheet {
    <style type="text/css">
        #top-row {
            width: 100%;
        }

        .bh-section-gray {
            background-color: #ebf0f2;
        }

    </style>
}
<div class="bh-section-gray">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Feed: @Model.Feed.Name</h3>
                <div class="row">
                    <div class="span3">Feed ID</div>
                    <div class="span3">@Model.Feed.Id</div>
                </div>
            </div>
            <div class="span6">
                 <div class="row">
                    <div class="span6">Feed URL</div>
                    <div class="span6">http://feed.com</div>
                </div>
                <div class="row">
                    <div class="span6">Feed API</div>
                    <div class="span6">http://api.feed.com</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Javascript {
    <script> </script>
}