/*!
 * BitHome Stylesheet v0.1
 *
 */
 
h2, h3 {
    padding: 0;
    margin: 0;
}

.bh-section-gray {
    background-color: #ebf0f2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-color {
    color: #555;
}

.icon-size32 {
    font-size: 32px;
}

.navbar-brand {
	background-image: url("../img/header.png");
	width: 121px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center center;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}
