@{
    Layout = "master";
}

@section Stylesheet {
    <style type="text/css">
        .draggable { width: 90px; height: 60px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em; }
        .ui-widget-header p, .ui-widget-content p { margin: 0; }
        #snaptarget { height: 600px; }
    </style>
}
<h1>Dashboard</h1>

<div id="snaptarget" class="ui-widget-header">
  <p>Drag items around the Dashboard</p>
</div>

<br style="clear: both;" />

<div id="control1" class="draggable ui-widget-content bhControl">
  <p>Control 1
</div>

<div id="control2" class="draggable ui-widget-content bhControl">
  <p>Control 2
</div>

<div id="control3" class="draggable ui-widget-content bhControl">
  <p>Control 3
</div>

<div id="control4" class="draggable ui-widget-content bhControl">
  <p>Control 4
</div>

@section Javascript {
    <script>
        $(function () {
            $(".bhControl").draggable({ grid: [20, 20] });
        });
    </script>
}