@{
    Layout = "Master";
}
              
@section Stylesheet {
    <style type="text/css">
        #create-feed-button {
            margin-left: 10px;
        }
    </style>
}

<div class="container">
    <h2>Feeds
        <button class="btn btn-primary" id="create-feed-button" type="button" onclick="showCreateFeed();">Create Feed</button>
    </h2>

    <table id="feeds-table" class="table">
        <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
            <th id="feed-settings">&nbsp;</th>
        </tr>
    </table>
</div>

<!-- ------------------------------------------- -->
<!-- Dashboard Properties Modal					 -->
<!-- ------------------------------------------- -->
<div class="modal fade"  id="create-feed-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
    			<h3>Create Feed</h3>
			</div>
			<div class="modal-body">
				<form id="create-feed-form" class="form-horizontal" role="form" onsubmit="createFeed();return false;">
					<div class="form-group">
						<label class="control-label col-lg-3" for="create-feed-name">Name</label>
						<div class="col-lg-8">
							<input class="form-control" type="text" id="create-feed-name" placeholder="Name">
						</div>
					</div><!-- /.form-group -->
				</form>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" onclick="$('#create-feed-form').submit()">Create</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Javascript {
    <script>
        $(function () {
            updateFeedTable();
        });

        function updateFeedTable() {
            $.ajax({
                type: 'GET',
                url: 'api/feeds',
                data: { format: 'json' },
                beforeSend: function () {
                    $("#feeds-table").find("tr:gt(0)").remove();
                },
                success: function (data) {
                    // successful request; do something with the data
                    for (var i = 0, len = data.length; i < len; ++i) {
                        var feed = data[i];

                        $('#feeds-table').append(
                            $("<tr/>")
                            .append($("<td/>", { html: '<i class="icon-color icon-size32 icon-th-list"></i>' }))
                            .append($("<td/>", { html: '<a href="/feeds/' + feed.Id + '">' + feed.Id + '</a>' }))
                            .append($("<td/>", { text: feed.Name }))
                            .append($("<td/>", { text: feed.Status }))
                            .append($("<td/>", { text: bithomeDisplayDate(feed.CreatedMilliseconds) }))
                            .append($("<td/>", { text: bithomeDisplayDate(feed.UpdatedMilliseconds) }))
                            .append($("<td/>", { html: '&nbsp;' })
                            )
                        );
                    }
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });
        }


        function showCreateFeed() {
            $('#create-feed-name').val('');
            $('#create-feed-modal').modal('show');
        }

        function createFeed() {
            var name = $('#create-feed-name').val();

            $.ajax({
                type: 'POST',
                url: 'api/feeds',
                data: {
                    name : name,
                    format: 'json'
                },
                beforeSend: function () {
                },
                success: function (data) {
                    updateFeedTable();

                    $('#create-feed-modal').modal('hide');
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });
        }
    </script>
}
