              
@section Stylesheet {
    <style type="text/css">
        #top-row {
            width: 100%;
        }

        .bh-section-gray {
            background-color: #ebf0f2;
        }

    </style>
}

<div class="container">
    <h2>Feeds</h2>
</div>

@section Javascript {
    <script> </script>
}
