@{
    Layout = "master";
}

@section Stylesheet {
    <style type="text/css">
        #node-settings {
            width: 200px;
        }

        #nodes-table .btn-group i {
            margin-right: 4px;
        }

        #nodes-table .btn-group a {
            cursor: pointer !important;
        }
    </style>
}
<h1>Nodes</h1>

<table id="nodes-table" class="table">
    <tr>
        <th>&nbsp;</th>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Address</th>
        <th id="node-settings">&nbsp;</th>
    </tr>
</table>

<div id="modal-rename" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Rename <span class='modal-node-name'>Name</span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="node-name">Name</label>
                <div class="controls">
                    <input id="modal-rename-id" name="id" type="hidden" />
                    <input id="modal-rename-name" name="name" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="$('#modal-rename').modal('hide')">Close</a>
        <a href="#" class="btn btn-primary" onclick="renameNode($('#modal-rename-id').val(), $('#modal-rename-name').val())">Save changes</a>
    </div>
</div>

<div id="modal-reboot" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Reboot <span class='modal-node-name'>Name</span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            Are you sure you want to reboot this node? <br/>
            <input id="modal-reboot-id" name="id" type="hidden" />
            <a href="#" class="btn btn-danger" onclick="rebootNode($('#modal-reboot-id').val())">Reboot Node</a>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="$('#modal-rename').modal('hide')">Close</a>
    </div>
</div>

@section Javascript {
    <script>
        var tableSpinner;

        $(function () {
            updateNodeTable();
        });

        function updateNodeTable() {
            $.ajax({
                type: 'GET',
                url: 'api/nodes',
                data: { format: 'json' },
                beforeSend: function () {
                    $("#nodes-table tr").remove();
                },
                success: function (data) {
                    // successful request; do something with the data
                    for (var i = 0, len = data.length; i < len; ++i) {
                        var node = data[i];

                        var addressing = '';
                        if (node.NodeType == 'Xbee') {
                            addressing = "16-bit: " + node.Address16String + "<br\>";
                            addressing += "64-bit: " + node.Address64String;
                        }

                        var settingsButtonGroup = $("<div/>", {
                            'class': 'btn-group'
                        });

                        var settingsButton = $("<a/>", {
                            'class': 'btn btn-small btn-action dropdown-toggle',
                            'data-toggle': 'dropdown',
                            'href': '#',
                            'html': '<span class="caret"></span>'
                        });

                        var settingsMenu = $("<ul/>", {
                            'class': 'dropdown-menu'
                        });

                        // Rename
                        ////////////////////////////////////////
                        var renameLink = $("<a/>", { 'html': '<i class="icon-pencil"></i>Rename' });
                        renameLink.on("click", function (event) {
                            $('.modal-node-name').text(node.Identifier);
                            $('#modal-rename-name').val(node.Name);
                            $('#modal-rename-id').val(node.Id);
                            $('#modal-rename-name').focus(function () {
                                // Select input field contents
                                this.select();
                            });
                         
                            $('#modal-rename').modal('show');
                        });
                        settingsMenu.append(
                            $("<li/>", {
                                'html': renameLink
                            })
                        );

                        // Reboot
                        ////////////////////////////////////////
                        var rebootLink = $("<a/>", { 'html': '<i class="icon-off"></i>Reboot' });
                        rebootLink.on("click", function (event) {
                            $('.modal-node-name').text(node.Identifier);
                            $('#modal-reboot-id').val(node.Id);
                            $('#modal-reboot').modal('show');
                        });
                        settingsMenu.append(
                            $("<li/>", {
                                'html': rebootLink
                            })
                        );

                        settingsButtonGroup.append(settingsButton);
                        settingsButtonGroup.append(settingsMenu);

                        $('#nodes-table').append(
                            $("<tr/>")
                            .append($("<td/>", { html: '<i class="icon-color icon-size32 icon-hdd"></i>' }))
                            .append($("<td/>", { text: node.Id }))
                            .append($("<td/>", { text: node.Name }))
                            .append($("<td/>", { text: node.NodeType }))
                            .append($("<td/>", { html: addressing }))
                            .append($("<td/>", { html: settingsButtonGroup })
                            )
                        );
                    }
                },
                error: function () {
                    // failed request; give feedback to user
                }
            });
        }

        function rebootNode(nodeId) {
            $.ajax({
                type: 'POST',
                url: 'api/nodes/' + nodeId + "/reboot",
                data: { format: 'json'},
                beforeSend: function () {
                    // this is where we append a loading image
                },
                success: function (data) {
                    updateNodeTable();
                    $('#modal-reboot').modal('hide');
                }
            });
        }

        function renameNode(nodeId, name) {
            $.ajax({
                type: 'POST',
                url: 'api/nodes/' + nodeId + "/name",
                data: { format: 'json' , name : name},
                beforeSend: function() {
                    // this is where we append a loading image
                },
                success: function(data) {
                    updateNodeTable();
                    $('#modal-rename').modal('hide');
                }
            });
        }
    </script>
}